<%= form_for @image , class: "" do |f| %>
  <div class="form-group">
    <%= f.label :description %>
    <br>
    <%= f.text_field :description , class: "form-control" %>
    <br>
  </div>
  <%= f.submit 'Save', class: "btn btn-primary" %>
<%end %>