
  <div class="col-lg-4">
    <figure class="figure">

      <%= image_tag image.picture.medium.url , class: 'figure-img img-fluid rounded' ,style: 'border-solid: 1px;' %>

      <figcaption class="figure-caption">
        <%= image.description %>
        <%= link_to 'Edit', edit_image_path(image)  %>
        <%= link_to 'Delete', image, method: :delete , data: { confirm: 'sure?' }  %>
      </figcaption>
    </figure>
  </div>


