<% if notice %>
  <div class="alert alert-success mt-3">
    <a href="#" data-dismiss="alert" class="close">×</a>
    <p>
      <%= notice %>
    </p>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-danger mt-3">
    <a href="#" data-dismiss="alert" class="close">×</a>
    <p>
      <%= alert %>
    </p>
  </div>
<% end %>




